.photo-frame
{
	width:300px;
	border:5px solid;
	border-color:blue;
	margin:10px;
	padding:15px;
}
th,td{
	border:2px solid black;
}
#tab{
	width:400px;
	border: 2px solid;
	padding:1px;
	height:50px;
	border-collapse:collapse;
}
#b1{
	background-color:yellow;
}
#b2{
	background-color:green;
}
